In [28]:
import pandas as pd
import nltk as nltk
from nltk.corpus import stopwords
from wordcloud import WordCloud

In [13]:
#getting the header of the csv file
ds = pd.read_csv("../Project 1_sentiment_analysis_of_Product_review/amazon_reviews.csv",sep=",")
ds.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
0,A3SBTW3WS4IQSN,B007WTAJTO,NaN,"[0, 0]",No issues.,4.0,Four Stars,1406073600,2014-07-23,138,0,0
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0

In [14]:
#shows the data type of each column
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4915 entries, 0 to 4914
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      4915 non-null   object
 1   asin            4915 non-null   object
 2   reviewerName    4914 non-null   object
 3   helpful         4915 non-null   object
 4   reviewText      4914 non-null   object
 5   overall         4915 non-null   float64
 6   summary         4915 non-null   object
 7   unixReviewTime  4915 non-null   int64
 8   reviewTime      4915 non-null   object
 9   day_diff        4915 non-null   int64
 10  helpful_yes     4915 non-null   int64
 11  total_vote      4915 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 460.9+ KB

In [15]:
#Download stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/cem/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [16]:
#Stopwords
sw = stopwords.words('english')
## the code removes specific words (defined in the 'drops' list) from each text in the 'reviewText' column of the DataFrame. 
# It does so by splitting each text into words, filtering out the words present in the 'drops' list, 
# and joining the remaining words back into a modified text.

ds['reviewText'] = ds['reviewText'].apply(lambda x: " ".join(x for x in str(x).split() if x not in sw))

#ds['reviewText']
#This selects the 'reviewText' column from the DataFrame 'df'.

#ds['reviewText'].apply(...)
#The .apply() function is used to apply a given function to each element in the 'reviewText' column.

#lambda x: " ".join(x for x in x.split() if x not in drops)

#x.split() splits the input x into a list of words. It assumes that the text is separated by whitespace.
#" ".join(...) joins the filtered words back together into a string, using a space as the separator.
#x for x in x.split() if x not in drops is a list comprehension that iterates over the words in x.split(). 
# It filters out any word that is present in the 'drops' list.

ds['reviewText']
This selects the 'reviewText' column from the DataFrame 'df'.

ds['reviewText'].apply(...)
The .apply() function is used to apply a given function to each element in the 'reviewText' column.

lambda x: " ".join(x for x in x.split() if x not in drops)

x.split() splits the input x into a list of words. It assumes that the text is separated by whitespace.
" ".join(...) joins the filtered words back together into a string, using a space as the separator.
x for x in x.split() if x not in drops is a list comprehension that iterates over the words in x.split(). 
It filters out any word that is present in the 'drops' list.

In [17]:
ds

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
0,A3SBTW3WS4IQSN,B007WTAJTO,NaN,"[0, 0]",No issues.,4.0,Four Stars,1406073600,2014-07-23,138,0,0
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased device, worked advertised. You never...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",works expected. I sprung higher capacity. I th...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think worked great.Had diff. bran 64gb ca...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought Retail Packaging, arrived legit, orange...",5.0,best deal around,1373673600,2013-07-13,513,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4910,A2LBMKXRM5H2W9,B007WTAJTO,"ZM ""J""","[0, 0]",I bought Sandisk 16GB Class 10 use HTC Inspire...,1.0,Do not waste your money.,1374537600,2013-07-23,503,0,0
4911,ALGDLRUI1ZPCS,B007WTAJTO,Zo,"[0, 0]",Used extending capabilities Samsung Galaxy Not...,5.0,Great item!,1377129600,2013-08-22,473,0,0
4912,A2MR1NI0ENW2AD,B007WTAJTO,Z S Liske,"[0, 0]",Great card fast reliable. It comes optional ad...,5.0,Fast and reliable memory card,1396224000,2014-03-31,252,0,0
4913,A37E6P3DSO9QJD,B007WTAJTO,Z Taylor,"[0, 0]","Good amount space stuff I want do, fits GoPro....",5.0,Great little card,1379289600,2013-09-16,448,0,0
4914,A8KGFTFQ86IBR,B007WTAJTO,Zza,"[0, 0]",I've heard bad things 64gb Micro SD card crapp...,5.0,So far so good.,1388620800,2014-02-01,310,0,0

In [18]:
drop = pd.Series(' '.join(ds['reviewText']).split()).value_counts()[-1000:]
drop
#the code calculates the frequency distribution of words in the 'reviewText' column and selects the 1000 words with the lowest frequencies. 
# These words are then stored in the drops variable, 
# presumably for the purpose of removing them from the 'reviewText' column in subsequent operations.

report:        1
reader).       1
reinsert       1
approved       1
accessories    1
              ..
6/19/2014      1
]]So           1
Father's       1
wellJohn       1
steal!Would    1
Name: count, Length: 1000, dtype: int64

In [20]:
from textblob import TextBlob, Word
# nltk.download("punkt")

ds["reviewText"].apply(lambda x: TextBlob(x).words).head()

0                                         [No, issues]
1    [Purchased, device, worked, advertised, You, n...
2    [works, expected, I, sprung, higher, capacity,...
3    [This, think, worked, great.Had, diff, bran, 6...
4    [Bought, Retail, Packaging, arrived, legit, or...
Name: reviewText, dtype: object

In [31]:
# nltk.download('wordnet')
ds['reviewText'] = ds['reviewText'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

ds['reviewText'].head(10)

[nltk_data] Downloading package wordnet to /home/cem/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

NameError: name 'Word' is not defined